/* Whole body */
body {
	background-color: #ccdbd5;
	word-wrap: break-word;
	font-family: 'ABeeZee', sans-serif;
	font-size: 20px;
	color: #171616;
	
}

/* All font modifications */
h1 {
	text-align: center;
	font-family: 'Marck Script', cursive;
	font-size: 60px;
	color: #3a3b55;
	text-shadow: -1px 0 #f3f3f3, 0 1px #f3f3f3, 1px 0 #f3f3f3, 0 -1px #f3f3f3;
	margin-bottom: -5px;
	
}

h2 {
	font-family: 'Kanit', sans-serif;
	font-size: 30px;
	color: #eabe61;
	text-shadow: -1px 0 #4f4f4f, 0 1px #4f4f4f, 1px 0 #4f4f4f, 0 -1px #4f4f4f;
	margin-bottom: 10px;
	
}

h3 {
	font-family: 'Kanit', sans-serif;
	font-size: 30px;
	color: #262742;
	-webkit-text-stroke: 1px #262742;
	margin-bottom: 10px;
	
}

.questionHead {
	text-align: center;
	
}

.candidateInfo {
	padding-right: 30px;
	margin-bottom: 0px;
}

p {
	margin-top: 10px;
	margin-bottom: -1px;
	
}

/* One style for all the "buttons" */
.button {
	font-family: 'ABeeZee', sans-serif;
	font-size: 15px;
	color: #171616;
	
}

/* For the logo */
.logo {
	display: block;
	margin: auto;
	
}

/* Login form */
.login {
	background-color: #a1c9c8;
	display: block;
	margin: auto;
	padding: 1%;
	width: 50%;

}

/* Header for the links in admin pages */
header {
	background-color: #f5deab;
	display: block;
	margin: auto;
	overflow: hidden;
	padding-left: 1%;
	padding-right: 1%;
	width: 75%;
	
}

/* Just to get rid of the link look */
header a {
	color: #171616;
	text-decoration: none;
	
}

/* The links in the header */
.links {
	float: left;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 75px;
	line-height: 100px;
	border-right: solid 2px;
	border-color: #ad9257;
	margin-left: 5%;
	margin-right: 5%;
	height: 100px;
	
}

/* Logout button/link */
.logout {
	float: right;
	text-align: center;
	padding: 12px;
	line-height: 100px;
	border-color: #ad9257;
	height: 100px;
	
}

/* Content for the admin pages */
.content {
	background-color: #a1c9c8;
	display: block;
	margin: auto;
	width: 75%;
	padding-top: 1px;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 20px;
	
}

/* Style for the lists */
ul {
	column-count: 1;
	list-style-type: none;
	
}

li {
	background-color: #f3f3f3;
	border: solid 1px;
	min-height: 20px;
	padding: 10px;
	
}


/* Style for dots */
.answer {
	margin-left: 30%;
	margin-right: 60%;
	height: 300px;
	width: 300px;
	background-color: #e8681a;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 225px;
	color: #f3f3f3;
	font-size: 35px;
	
}

.view {
	margin-left: 60%;
	margin-right: 30%;
	height: 300px;
	width: 300px;
	background-color: #e8681a;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 225px;
	color: #f3f3f3;
	font-size: 35px;
	
}

.candidateNumber {
	margin-top: 25px;
	margin-bottom: 0px;
	height: 80px;
	width: 80px;
	text-align: center;
	background-color: #e8681a;
	border-radius: 50%;
	display: inline-block;
	line-height: 80px;
	font-family: 'Kanit', sans-serif;
	font-size: 30px;
	color: #262742;
	-webkit-text-stroke: 1px #262742;
	
}

.dotText {
	margin: -175px;
	
}

/* Style for boxes and their content (not used somewhere else) */

.questionBox {
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 35px;
	background-color: #f2d18d;
	-webkit-mask: linear-gradient(#add9d8 0 0) 
					top/100% calc(100% - 40px) no-repeat,
					radial-gradient(circle farthest-side,#000 98%,#0000) 
					bottom/calc(1.85*40px) 80px repeat-x;
	
}

.radioAnswer {
	margin-left: 20px;
	text-align: center;
}

.candidateBox {
	min-width: 400px;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 15px;
	padding-bottom: 35px;
	padding-left: 100px;
	background-color: #f2e3aa;
	--mask: linear-gradient(#000 0 0) 
			center/calc(100% - 60px) calc(100% - 60px) no-repeat,
  			radial-gradient(circle farthest-side,#0000 98%,#000) 0 -30px/55.5px 60px round no-repeat,
  			radial-gradient(circle farthest-side,#0000 98%,#000) 0 calc(100% + 30px)/55.5px 60px round no-repeat,
  			radial-gradient(circle farthest-side,#0000 98%,#000) -30px 0/60px 55.5px no-repeat round,
  			radial-gradient(circle farthest-side,#0000 98%,#000) calc(100% + 30px) 0/60px 55.5px no-repeat round;
	-webkit-mask: var(--mask);
	mask: var(--mask);
	clip-path: polygon(60px 0,calc(100% - 60px) 
				0,100% 60px,100% calc(100% - 60px),
				calc(100% - 60px) 100%,60px 100%,0 calc(100% - 60px),0 60px);
	
}
